/* ********* */
/* @TYPOGRAPHY */
/* ********* */
@font-face {
    font-family: "font_negra";
    src: url(/public/assets/font/LEMONMILK-Bold.woff2);
}

@font-face {
    font-family: "font_regular";
    src: url(/public/assets/font/LEMONMILK-Regular.woff2);
}

@font-face {
    font-family: "font_medio";
    src: url(/public/assets/font/LEMONMILK-Medium.woff2);
}

@font-face {
    font-family: "font_ligero";
    src: url(/public/assets/font/LEMONMILK-Light.woff2);
}