/* ********* */
/* @VARIABLES */
/* ********* */

$colores: (
    theme: #F26B1D,
    banner: #515151,
    botones: #171717,
    banner_novedades: #D92929,
    fondo_categorias: #CEC9C9,
    banner_proximamente: #2393D9
);

$botones: (
    letras: white,
    radio: 24px,
    anchura: 150px,
    longitud: 32px
);

$centro_logo: (
    margen: 5rem
);

$formulario_input: (
    radio: 19px,
    altura: 35px,
    longitud: 250px,
    mt: 10px,
    margen: 14px
);

$btn_login: (
   fondo: #2393D9,
   color: white,
   ancho: 10px,
   largo: 20px,
   padding: 10px,
   radio: 24px
);
