/* ********* */
/* @VARIABLES */
/* ********* */

$colores: (
    theme: #F26B1D,
    banner: #515151,
    botones: #171717,
    banner_novedades: #D92929,
    fondo_categorias: #CEC9C9,
    banner_proximamente: #2393D9
);

$botones: (
    letras: white,
    radio: 24px,
    anchura: 150px,
    longitud: 32px
)




