/* ********* */
/* @CONTACTO */
/* ********* */

.container_contacto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  @media screen and (min-width: 1000px) {
    
  }

  .contactanos {
    font-family: "font_negra";
    font-size: 20px;
  }

  input {
    border-radius: 19px;
    height: 35px;
    width: 250px;
    margin-top: 10px;
    margin: 14px;
  }

  .mensaje_input {
    height: 120px;
  }

  .contact_btn {
   border-radius: 20px;
    background-color: #2393d9;
    padding: 5px 20px 5px 20px;
    margin-bottom: 30px;
    margin-top: 8px;

    .contact_btn_texto{
        color: white;
    }
  }
}
