/* ********* */
/* @DATOS_USUARIO */
/* ********* */
.cuerpo_datos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contianer_datos{
    background-color:#fff ;
    width: 50%;
    height: 100%;
}

