/* ********* */
/* @HOME */
/* ********* */
.container_home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container_home img{
    width: 30%;
}

.Titulo_presentacion{
    font-family: "font_negra";
}

a{
    font-family: "font_ligero";
}

.descubrir{
    background-color: map-get($colores , banner_novedades );
    width: 410px;
    height: 230px;
    background-image: url('/public/assets/img/smartphone/thor.webp');
    background-repeat: no-repeat;
    background-position: right;
}

.proximamente{
    background-color: map-get($colores, banner_proximamente );
    width: 410px;
    height: 230px;
    background-image: url('/public/assets/img/smartphone/blackAdam.webp');
    background-repeat: no-repeat;
    background-position: right;
}