/* ********* */
/* @HOME */
/* ********* */
a {
  font-family: "font_ligero";
}

.contenido_banner {
  display: none;

  @media screen and (min-width: 1366px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px 0px 0px 90px;
    
    .titulo_banner_novedades {
      font-family: "font_negra";
      font-size: 38px;
    }
    
    .subtitulo_banner_novedades {
      font-family: "font_ligero";
      color: white;
      font-size: 21px;
      
    }
  }
}

.descubrir {
  background-color: map-get($colores, banner_novedades);
  width: 410px;
  height: 230px;
  background-image: url(../assets/img/smartphone/thor.webp);
  background-repeat: no-repeat;
  background-position: right;
}

.proximamente {
  background-color: map-get($colores, banner_proximamente);
  width: 410px;
  height: 230px;
  background-image: url(../assets/img/smartphone/blackAdam.webp);
  background-repeat: no-repeat;
  background-position: right;
}
