/* ********* */
/* @LISTA */
/* ********* */
.listado {
  padding: 12px;
  margin-top: 10px;
  background: #fff;
  height: 400px;

  .colecciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;

    .texto_listado {
      padding-left: 30px;
    }

    .titulo_listado {
      font-family: "font_regular";
      font-size: 20px;
    }

    .desc_listado{
        font-family: "font_ligero";
    }
    .icono_listado {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #c4c4c4;
      width: 120px;
      height: 105px;
      border-radius: 4px;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.33);
    }
  }
}
