/* ********* */
/* @REGISTRO */
/* ********* */
.container_registro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  @media screen and (min-width: 1000px) {
    
  }

  .registro_form {
    .registro_formulario{
      display: flex;
      flex-direction: column;
    }
    input {
      border-radius: 19px;
      height: 35px;
      width: 250px;
      margin-top: 10px;
      margin: 14px;
    }

    .titulo_crearcuenta h4 {
      font-family: "font_negra";
      font-size: 20px;
      letter-spacing: 4px;
    }

    
    input::placeholder {
      padding: 10px;
      font-size: 12px;
    }

    .registro_btn {
      border-radius: map-get($btn_login, radio);
      background-color: #2393d9;
      padding: 5px 15px 5px 5px;
      margin-bottom: 30px;
      margin-top: 8px;
    }

    .registro_btn a {
      color: black;
      font-family: "font_regular";
      font-size: 12px;
    }
  }

  .link_tologin {
    font-size: 18px;
    font-family: "font_regular";
  }
}
