/* ********* */
/* @VISUALIZAR_FIGRUAS */
/* ********* */
.container {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  @media screen and (min-width: 1000px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .card_visualizar {
    padding-top: 8px;
    width: 320px;
    height: 100%;
    background: #c4c4c4;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.33);
    border-radius: 8px;
    margin-top: 20px;
    @media screen and (min-width: 1000px) {
      width: 535px;
      height: 480px;
      display: flex;
      align-items: center;
    }

    .carousel {
      display: flex;
      max-width: 320px;
      @media screen and (min-width: 1000px) {
        display: flex;
        max-width: 1000px;
      }
    }

    .contenido {
      display: flex;
      width: 500px;
      overflow: hidden;
    }

    .carousel-item {
      flex: 1 0 33%;
      height: 100px;
      border-radius: 10px;

      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (min-width: 1000px) {
        height: 100%;
        flex: 1 0 100%;
      }
    }
  }

  .titulo_figura_visualizar {
    margin-top: 4px;
    padding-top: 8px;
    @media screen and (min-width: 1000px) {
      font-size: 22px;
    }
  }
  h3 {
    font-family: "font_regular";
    font-size: 17px;
  }

  .info_figura {
    display: flex;
    flex-direction: column;
  }
  .compartir {
    display: flex;
    justify-content: right;
    margin-right: 10px;
  }
  .precio_figura {
    font-family: "font_medio";
    color: black;
    font-size: 16px;
  }

  .fecha_figura {
    font-family: "font_medio";
    color: black;
    font-size: 15px;
    margin-right: 22px;
  }

  .card_añadir {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 10px;
    background: rgba(85, 85, 85, 0.333);
    margin-left: 30px;

    .agregar__texto {
      font-family: "font_medio";
      color: black;
      font-size: 15px;
      margin-left: 20px;
    }
  }

  .ver_categoria {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 8px;
  }

  .ver_categoria__texto {
    font-family: "font_medio";
    color: black;
    font-size: 17px;
    margin-bottom: 10px;
  }
}
