/* ********* */
/* @VISUALIZAR_STANLEE */
/* ********* */
.slide {
  position: relative;
  margin-top: 26px;
}

.slide-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc(300px + 3em);
}

.slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
}

.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.slide-item img {
  display: block;
  height: auto;
  margin-left: 20px;
  max-width: 100%;
}

.slide-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.slide-control.prev {
  left: 2%;
}

.slide-control.next {
  right: 2%;
}

.slide-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
  display: block;
}

.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}

.slide-circulo {
  color: #828282;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.slide-circulo:hover {
  color: #aaaaaa;
}

#slide-1:checked ~ .control-1 ~ .slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked
  ~ .control-3
  ~ .slide-indicador
  li:nth-child(3)
  .slide-circulo {
  color: #428bca;
}

.container {
  flex-direction: column;
  background: #fff;
  justify-content: center;
  align-items: center;
  padding: 10px;
  .card_visualizar {
    padding-top: 8px;
    width: 320px;
    height: 100%;
    background: #c4c4c4;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.33);
    border-radius: 8px;
    margin-top: 20px;
  }
  .next_image img {
    padding: 10px;
  }
  .titulo_figura_visualizar {
    margin-top: 4px;
    padding-top: 8px;
  }
  h3 {
    font-family: "font_regular";
    font-size: 17px;
  }

  .info_figura {
    display: flex;
    flex-direction: column;
  }
  .compartir {
    display: flex;
    justify-content: right;
    margin-right: 10px;
  }
  .precio_figura {
    font-family: "font_medio";
    color: black;
    font-size: 16px;
  }

  .fecha_figura {
    font-family: "font_medio";
    color: black;
    font-size: 15px;
    margin-right: 22px;
  }

  .card_añadir {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 10px;
    background: rgba(85, 85, 85, 0.333);
    margin-left: 30px;

    .agregar__texto {
      font-family: "font_medio";
      color: black;
      font-size: 15px;
      margin-left: 20px;
    }
  }

  .ver_categoria {
    padding: 8px;
  }

  .ver_categoria__texto {
    font-family: "font_medio";
    color: black;
    font-size: 17px;
    margin-bottom: 10px;
  }
}
