/* ********* */
/* @BANNER */
/* ********* */

.banner {
  background-color: map-get($colores, banner);
  width: 410px;
  height: 230px;
  background-image: url("/public/assets/img/smartphone/obiwanBanner.webp");
  background-repeat: no-repeat;
  background-position: right;
}

// SECCION NOVEDADES
.Banner_secciones {
  display: flex;
  align-items: center;
  background: #8d8d8d;
  width: 410px;
  height: 65px;
  margin-top: 10px;
}