/* ********* */
/* @BANNER */
/* ********* */

.banner {
  background-color: map-get($colores, banner);
  width: 410px;
  height: 230px;
  background-image: url("../assets/img/smartphone/obiwanBanner.png");
  background-repeat: no-repeat;
  background-position: right;

  @media screen and (min-width: 1366px) {
    width: 100%;
    height: 400px;
    background-image: url("../assets/img/desktop/ObiWanBannerD.png");
    background-size: contain;
  }
}

.banner_secundarios {
  @media screen and (min-width: 1366px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

.Banner_novedades {
  display: flex;
  align-items: map-get($banner_categorias, posicion);
  background: map-get($colores_titulos_categorias, fondo_novedades);
  height: map-get($banner_categorias, altura);
  margin-top: map-get($banner_categorias, margen_top);
  @media screen and (min-width: 1366px) {
    width: 100%;
    height: 320px;
    background-image: url('../assets/img/desktop/fondo_BannerNovedades.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #171717;
  }
}

.Banner_descubrir {
  display: flex;
  align-items: map-get($banner_categorias, posicion);
  background: map-get($colores_titulos_categorias, fondo_descubrir);
  height: map-get($banner_categorias, altura);
  margin-top: map-get($banner_categorias, margen_top);
  @media screen and (min-width: 1366px) {
    width: 100%;
    height: 320px;
    background-image: url('../assets/img/desktop/fondo_BannerDescubrir.png');
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #171717;
  }
}

.Banner_proximamente {
  display: flex;
  align-items: map-get($banner_categorias, posicion);
  background: map-get($colores_titulos_categorias, fondo_proximamente);
  height: map-get($banner_categorias, altura);
  margin-top: map-get($banner_categorias, margen_top);
  @media screen and (min-width: 1366px) {
    width: 100%;
    height: 320px;
    background-image: url('../assets/img/desktop/fondo_BannerProximamente.png');
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #171717;
  }
}

.Banner_marvel {
  display: flex;
  align-items: map-get($banner_categorias, posicion);
  background: #ab0909;
  width: 100%;
  height: map-get($banner_categorias, altura);
  margin-top: map-get($banner_categorias, margen_top);
  background-image: url("../assets/img/smartphone/imagen_categoria_marvel.png");
  background-repeat: no-repeat;
  background-position: right;
  @media screen and (min-width: 1366px) {
    width: 100%;
    height: 320px;
    background-image: url('../assets/img/desktop/fondo_BannerMarvel.png');
    background-repeat: no-repeat;
    background-size: 430px;
    background-position: right;
  }
}

.Banner_dc {
  display: flex;
  align-items: map-get($banner_categorias, posicion);
  background: #2393d9;
  height: map-get($banner_categorias, altura);
  margin-top: map-get($banner_categorias, margen_top);
  background-image: url("../assets/img/smartphone/categoria_dc.png");
  background-repeat: no-repeat;
  background-position: right;
  @media screen and (min-width: 1366px) {
    width: 100%;
    height: 320px;
    background-image: url('../assets/img/desktop/fondo_BannerDC.png');
    background-repeat: no-repeat;
    background-size: 650px;
    background-position: right;
    background-color: #171717;
  }
}

.Banner_starwars {
  display: flex;
  align-items: map-get($banner_categorias, posicion);
  background: #171717;
  height: map-get($banner_categorias, altura);
  margin-top: map-get($banner_categorias, margen_top);
  background-image: url("../assets/img/smartphone/categoria_starwars.png");
  background-repeat: no-repeat;
  background-position: right;
  @media screen and (min-width: 1366px) {
    width: 100%;
    height: 320px;
    background-image: url('../assets/img/desktop/fondo_BannerStarwars.png');
    background-repeat: no-repeat;
    background-size: 650px;
    background-position: right;
  }
}

.Banner_misFavoritos {
  display: flex;
  align-items: map-get($banner_categorias, posicion);
  background: #f28705;
  height: map-get($banner_categorias, altura);
  margin-top: map-get($banner_categorias, margen_top);
  background-image: url("../assets/img/smartphone/heart.png");
  background-repeat: no-repeat;
  background-position: right;
  @media screen and (min-width: 1366px) {
    width: 100%;
    height: 200px;
    background-image: url('../assets/img/desktop/fondo_BannerFav.png');
    background-repeat: no-repeat;
    background-position: right;
    background-color: #171717;
  }
}

.Banner_miColeccion {
  display: flex;
  align-items: map-get($banner_categorias, posicion);
  background: #2393d9;
  height: map-get($banner_categorias, altura);
  margin-top: map-get($banner_categorias, margen_top);
  background-image: url("../assets/img/smartphone/crown.png");
  background-repeat: no-repeat;
  background-position: right;
  @media screen and (min-width: 1366px) {
    width: 100%;
    height: 200px;
    background-image: url('../assets/img/desktop/fondo_BannerColecc.png');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: right;
    background-color: #171717;
  }
}
