/* ********* */
/* @BANNER */
/* ********* */

.banner {
  background-color: map-get($colores, banner);
  width: 410px;
  height: 230px;
  background-image: url("/public/assets/img/smartphone/obiwanBanner.webp");
  background-repeat: no-repeat;
  background-position: right;
}

// BANNER NOVEDADES
.Banner_novedades {
  display: flex;
  align-items: map-get($banner_categorias, posicion);
  background: map-get($colores_titulos_categorias, fondo_novedades);
  height: map-get($banner_categorias, altura);
  margin-top: map-get($banner_categorias, margen_top);
}

.Banner_descubrir{
  display: flex;
  align-items: map-get($banner_categorias, posicion);
  background: map-get($colores_titulos_categorias, fondo_descubrir);
  height: map-get($banner_categorias, altura);
  margin-top: map-get($banner_categorias, margen_top);
}
