/* ********* */
/* @BUTTONS */
/* ********* */

.btn{
    background-color: map-get($colores, botones);
    color: map-get($botones, letras);
    border-radius: map-get($botones, radio);
    width: map-get($botones, anchura);
    height: map-get($botones, longitud);
    margin: 50px 40px 40px 40px;


    @media screen and (min-width: 1366px) {
        width: 251px;
        height: 61px;
      }
}