/* ********* */
/* @NAVBAR */
/* ********* */

.navbar{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: map-get($colores, theme);
    padding: 10px;
   
}

.navbar_registro{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 20px;
    grid-gap: 50px;
    margin-top: 30px;
}

.navbar_login{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 20px;
    grid-gap: 50px;
    margin-top: 30px;
}
