/* ********* */
/* @HEADER */
/* ********* */

header {
  display: flex;
  background: url("/assets/img/smartphone/logofc.png");
  background-color: map-get($colores, theme);
  width: 100%;
  background-size: 90px;
  background-repeat: no-repeat;
  height: 80px;

  .input_header {
    background: url("/assets/img/smartphone/lupa.png");
    background-size: 35px;
    background-position: 165px center;
    background-repeat: no-repeat;
    margin-left: 140px;
    border: 0;
  }

  .logo_header img {
    width: 80px;
  }
}
