/* ********* */
/* @NAVIGATOR */
/* ********* */
.categorias{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 410px;
    background-color: map-get($colores, fondo_categorias );

    @media screen and (min-width: 1366px) {
        width: 100%;
    }
}
.categorias img{
    margin: 10px;

    @media screen and (min-width: 1366px) {
       width: 120%;
    }
}


